.nameContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.username-email {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.typeChange:hover {
    cursor: pointer;
}